<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Encryption and Decryption</title>
    <link rel="stylesheet" href="{{url_for('static',filename="Files/css/home.css")}}">
</head>
<body>
    <header>
        <h1>Image Encryption and Decryption Using 3DES</h1>
    </header>
    <section>
        <form action="/encryption" method="POST">
            <input type="submit" value="Encrypt" class="f1">
        </form>
        <form action="/Decryption" method="POST">
            <input type="submit" value="Decrypt" class="f1">
        </form>
    </section>
</html>